.disease-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #caf0f8;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.info-card {
  background: #fff;
  box-shadow: 0 8px 16px rgba(126, 128, 225, 0.2);
  border-radius: 10px;
  padding: 25px;
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.info-card:hover {
  transform: translateY(-10px);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2rem;
  line-height: 1.8;
}

.predict-btn {
  margin-top: 20px;
  background: #ff4757;
  color: white;
  font-size: 1.2rem;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.predict-btn:hover {
  background: #d63031;
}
